<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <title>Home</title>
</head>
<body>
<section>
    <h2>{{title}}</h2>
    {{>header}}
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad doloremque exercitationem suscipit consequuntur quae placeat molestias eum. Recusandae, consequuntur temporibus.</p>
    <form>
        <input type="text">
        <button>Search</button>
    </form>
    <p class="weatherResult" id="location"></p>
    <p class="weatherResult" id="weather"></p>
    {{>footer}}
</section>
</body>
<script src="js/app.js"></script>
</html>